<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../../static/mui/css/mui.min.css">
    <link rel="stylesheet" href="../../static/mui/css/app.css">
    <link rel="stylesheet" href="../../static/mui/css/swiper-3.4.0.min.css">
    <script src="../../static/mui/js/tools.js"></script>
    <script src="../../static/mui/js/swiper-3.4.0.min.js"></script>
    <title></title>
</head>
<body>
<header class="mui-bar mui-bar-nav white">
    <a class="mui-icon mui-icon-left-nav" href="../setting.html"></a>
    <h1 class="mui-title">管理</h1>
</header>

<div class="mui-content">
    <ul class="mui-table-view" >
        <li class="mui-table-view-cell">
            <a>病人情况</a>
        </li>
    </ul>
</div>
</body>
</html>