<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../../static/mui/css/mui.min.css">
    <link rel="stylesheet" href="../../static/mui/css/app.css">
    <link rel="stylesheet" href="../../static/mui/css/swiper-3.4.0.min.css">
    <script src="../../static/mui/js/tools.js"></script>
    <script src="../../static/mui/js/swiper-3.4.0.min.js"></script>
    <title></title>
</head>
<body>
    <header class="mui-bar mui-bar-nav white">
        <a class="mui-icon mui-icon-left-nav" href="../setting.html"></a>
        <h1 class="mui-title">用户信息</h1>
    </header>

    <div class="mui-content">
        <ul class="mui-table-view" >
            <li class="mui-table-view-cell">
                <a>姓名:<span class="mui-pull-right">护士名字</span></a>
            </li>
            <li class="mui-table-view-cell">
                <a>账号:<span class="mui-pull-right">护士ID</span></a>
            </li>
            <li class="mui-table-view-cell">
                <a>性别:<span class="mui-pull-right">男/女</span></a>
            </li>
            <li class="mui-table-view-cell">
                <a>科室:<span class="mui-pull-right">科室名称</span></a>
            </li>
            <li class="mui-table-view-cell">
                <a>生日:<span class="mui-pull-right">出生年月日</span></a>
            </li>
        </ul>
    </div>
</body>
</html>