<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../static/mui/css/mui.min.css">
    <link rel="stylesheet" href="../static/mui/css/app.css">
    <link rel="stylesheet" href="../static/mui/css/swiper-3.4.0.min.css">
    <script src="../static/mui/js/tools.js"></script>
    <script src="../static/mui/js/swiper-3.4.0.min.js"></script>
    <script src="../static/tool/jquery-3.3.1.js"></script>
    <script src="../static/vue/vue.js"></script>
    <script src="../static/tool/tool.js"></script>
    <title></title>

</head>
<body>
<div id="app">
    <!--标题-->
    <header class="mui-bar mui-bar-nav white">
        <a class=" mui-icon mui-icon-home mui-pull-left"  v-on:click="gotoUrl('Index')" href="#"></a>
        <h1 class="mui-title">设置</h1>
    </header>
    <!--主体-->

    <div class="mui-content">
        <ul class="mui-table-view" style="height: 80px" id="setting">
            <li class="mui-table-view-cell" v-on:click="gotoUrl('UserInfo')">
                <a id="user" href="#">
                    <h4>{{data.name}}</h4>
                </a>
                账号：{{data.id}}
            </li>
        </ul>
        <ul class="mui-table-view" style="margin-top: 25px;">
            <li class="mui-table-view-cell"v-on:click="gotoUrl('ChangePw')" >
                <a class="mui-navigate-right" href="#">
                    修改密码
                </a>
            </li>
            <li class="mui-table-view-cell" v-on:click="gotoUrl('Manage')">
                <a class="mui-navigate-right" href="#">
                    管理
                </a>
            </li>
        </ul>
        <ul class="mui-table-view" style="margin-top: 25px;">
            <li class="mui-table-view-cell" v-on:click="gotoUrl('About')">
                <a id="about" class="mui-navigate-right" href="#">
                    关于
                </a>
            </li>
        </ul>
        <ul class="mui-table-view" style="margin-top: 25px;">
            <li class="mui-table-view-cell" v-on:click="gotoUrl('Logout')">
                <a style="text-align: center;color: #FF3B30;" href="#">
                    退出登录
                </a>
            </li>
        </ul>
    </div>

    <!--底部导航栏-->
    <nav class="mui-bar mui-bar-tab">
        <a class="mui-tab-item" href="#" v-on:click="gotoUrl('Inspect')">
            <span class="mui-icon mui-icon-compose"></span>
            <span class="mui-tab-label">检查</span>
        </a>
        <a class="mui-tab-item" href="#" v-on:click="gotoUrl('Nursing')">
            <span class="mui-icon mui-icon-person"></span>
            <span class="mui-tab-label">护理</span>
        </a>
        <a id="defaultTab" class="mui-tab-item mui-active" href="#" v-on:click="gotoUrl('Setting')">
            <span class="mui-icon mui-icon-gear"></span>
            <span class="mui-tab-label">设置</span>
        </a>
    </nav>
</div>
<script>
    var v = new Vue({
        el: '#app',
        data: {
            data: '',
        },
        created: function () {
            this.pullData();
        },
        methods: {
            pullData: function () {
                var _self = this;
                $.ajax({
                    type: 'GET',
                    data:{
                        nid:getQueryString("nid")
                    },
                    url: getUrl() + "/setting",
                    dataType: 'json',
                    success: function (data) {
                        _self.data = data;
                    }
                });
            },
            gotoUrl: function (next) {
                $.ajax({
                    type: 'GET',
                    data:{
                        nid:getQueryString("nid")
                    },
                    url: getUrl() + "/setting" + next,
                    dataType: 'json',
                    success: function (data) {
                        window.location.href = data.url;
                    }
                });
            }
        }
    });
</script>
</body>
</html>