<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../../static/mui/css/mui.min.css">
    <link rel="stylesheet" href="../../static/mui/css/app.css">
    <script src="../../static/mui/js/mui.min.js"></script>
    <script src="../../static/tool/jquery-3.3.1.js"></script>
    <script src="../../static/vue/vue.js"></script>
    <script src="../../static/tool/tool.js"></script>
    <title></title>

</head>
<body>
<div id="app">
    <header class="mui-bar mui-bar-nav white">
        <a class="mui-icon mui-icon-left-nav" href="#"  v-on:tap="gotoUrl('Back')"></a>
        <h1 class="mui-title">说明</h1>
    </header>

    <div class="mui-content">
        <div class="mui-card">
            <ul class="mui-table-view" >

                <li class="mui-table-view-cell mui-collapse">
                    <a class="mui-navigate-right" href="#">开发人员</a>
                    <div class="mui-collapse-content">
                        <p>裴卫 肖旭鸿</p>
                    </div>
                </li>

                <li class="mui-table-view-cell mui-collapse">
                    <a class="mui-navigate-right" href="#">功能</a>
                    <div class="mui-collapse-content">
                        <p>体征录入</p>
                        <p>医嘱执行</p>
                        <p>护理执行</p>
                        <p>输液执行</p>
                        <p>检验执行</p>
                        <p>修改密码</p>
                        <p>管理病人</p>
                        <p>可视化数据</p>
                    </div>
                </li>

                <li class="mui-table-view-cell mui-collapse">
                    <a class="mui-navigate-right" href="#">注意</a>
                    <div class="mui-collapse-content">
                        <p>此系统开发周期较短，存在各种bug是正常现象，希望可以批评指正</p>
                        <p>出于安全考虑，系统不支持找回密码，忘了密码可以找管理员重置</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    var v = new Vue({
        el: '#app',
        data: {
            data: '',
        },
        methods: {
            gotoUrl: function (next) {
                $.ajax({
                    type: 'GET',
                    data:{
                        nid:getQueryString("nid")
                    },
                    url: getUrl() + "/explain" + next,
                    dataType: 'json',
                    success: function (data) {
                        window.location.href = data.url;
                    }
                });
            }
        }
    });
</script>
</body>
</html>