<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../../static/mui/css/mui.min.css">
    <link rel="stylesheet" href="../../static/mui/css/app.css">
    <script src="../../static/mui/js/mui.min.js"></script>
    <script src="../../static/tool/jquery-3.3.1.js"></script>
    <script src="../../static/vue/vue.js"></script>
    <script src="../../static/tool/tool.js"></script>
    <title></title>

</head>
<body>
<div id="app">
    <header class="mui-bar mui-bar-nav white">
        <a class="mui-icon mui-icon-left-nav" href="#"  v-on:tap="gotoUrl('Back')"></a>
        <h1 class="mui-title">帮助</h1>
    </header>

    <div class="mui-content">
        <div class="mui-card">
            <ul class="mui-table-view" >

                <li class="mui-table-view-cell mui-collapse">
                    <a class="mui-navigate-right" href="#">如何录入体征</a>
                    <div class="mui-collapse-content">
                        <p>选择主页面的检查子页面，进入后，选择病人，对该病人进行体征录入</p>
                    </div>
                </li>

                <li class="mui-table-view-cell mui-collapse">
                    <a class="mui-navigate-right" href="#">如何进行医嘱执行</a>
                    <div class="mui-collapse-content">
                        <p>选择主页面的检查子页面，进入后，选择医嘱执行，进入后选择病人，确认医嘱执行</p>
                    </div>
                </li>

                <li class="mui-table-view-cell mui-collapse">
                    <a class="mui-navigate-right" href="#">如何进行输液执行</a>
                    <div class="mui-collapse-content">
                        <p>选择主页面的检查子页面，进入后，选择输液执行，进入后选择病人，确认医嘱执行</p>
                    </div>
                </li>

                <li class="mui-table-view-cell mui-collapse">
                    <a class="mui-navigate-right" href="#">如何进行检验执行</a>
                    <div class="mui-collapse-content">
                        <p>选择主页面的检查子页面，进入后，选择检验执行，进入后选择病人，确认医嘱执行</p>
                    </div>
                </li>

                <li class="mui-table-view-cell mui-collapse">
                    <a class="mui-navigate-right" href="#">如何进行护理执行</a>
                    <div class="mui-collapse-content">
                        <p>选择主页面的检查子页面，进入后，选择护理执行，进入后选择病人，确认医嘱执行</p>
                    </div>
                </li>

                <li class="mui-table-view-cell mui-collapse">
                    <a class="mui-navigate-right" href="#">如何修改密码</a>
                    <div class="mui-collapse-content">
                        <p>选择主页面的设置子页面，选择修改密码，进行修改</p>
                    </div>
                </li>

                <li class="mui-table-view-cell mui-collapse">
                    <a class="mui-navigate-right" href="#">忘了密码怎么办</a>
                    <div class="mui-collapse-content">
                        <p>为了安全起见，不提供找回密码，可找管理员重置密码</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    var v = new Vue({
        el: '#app',
        data: {
            data: '',
        },
        methods: {
            gotoUrl: function (next) {
                $.ajax({
                    type: 'GET',
                    data:{
                        nid:getQueryString("nid")
                    },
                    url: getUrl() + "/help" + next,
                    dataType: 'json',
                    success: function (data) {
                        window.location.href = data.url;
                    }
                });
            }
        }
    });
</script>
</body>
</html>