<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../../static/mui/css/mui.min.css">
    <link rel="stylesheet" href="../../static/mui/css/app.css">
    <link rel="stylesheet" href="../../static/mui/css/swiper-3.4.0.min.css">
    <script src="../../static/mui/js/tools.js"></script>
    <script src="../../static/mui/js/swiper-3.4.0.min.js"></script>
    <script src="../../static/tool/jquery-3.3.1.js"></script>
    <script src="../../static/tool/jquery.serializejson.js"></script>
    <title></title>

</head>
<body>
<header class="mui-bar mui-bar-nav white">
    <a class="mui-icon mui-icon-left-nav" href="../setting.html"></a>
    <h1 class="mui-title">体征录入</h1>
</header>

<div class="mui-content">
    <div class="hint" style=" text-align: center; color: #bd2130;min-height: 21px"></div>
    <form class="mui-input-group" id="formDemo">
        <div class="mui-input-row">
            <label>病人ID：</label>
            <input type="text" class="mui-input-clear" readonly="readonly" name="patient_id" id="patient_id"
                   value="1255">
        </div>
        <div class="mui-input-row">
            <label>体温：</label>
            <input type="text" class="mui-input-clear" placeholder="请输入病人体温" name="temperature" id="temperature">
        </div>
        <div class="mui-input-row">
            <label>呼吸量：</label>
            <input type="text" class="mui-input-clear" placeholder="请输入病人呼吸量" name="breathe" id="breathe">
        </div>
        <div class="mui-input-row">
            <label>血压高压：</label>
            <input type="text" class="mui-input-clear" placeholder="请输入病人血压高压" name="blood_pressureH"
                   id="blood_pressureH">
        </div>
        <div class="mui-input-row">
            <label>血压低压：</label>
            <input type="text" class="mui-input-clear" placeholder="请输入病人血压低压" name="blood_pressureL"
                   id="blood_pressureL">
        </div>
        <div class="mui-input-row">
            <label>脉搏：</label>
            <input type="text" class="mui-input-clear" placeholder="请输入病人脉搏次数" name="pluse" id="pluse">
        </div>
        <div class="mui-input-row">
            <label>身高：</label>
            <input type="text" class="mui-input-clear" placeholder="请输入病人身高" name="height" id="height">
        </div>
        <div class="mui-input-row">
            <label>体重：</label>
            <input type="text" class="mui-input-clear" placeholder="请输入病人体重" name="weight" id="weight">
        </div>
        <div class="mui-input-row">
            <label>出入量：</label>
            <input type="text" class="mui-input-clear" placeholder="请输入病人出入量" name="in_out" id="in_out">
        </div>
        <div class="mui-button-row">
            <button type="button" class="mui-btn mui-btn-primary" onclick="check()">确认</button>
            <button type="button" class="mui-btn mui-btn-danger" onclick="cancel()">取消</button>
        </div>
    </form>
</div>
<script type="text/javascript">
    function cancel() {
        document.getElementById("temperature").value = "";
        document.getElementById("breathe").value = "";
        document.getElementById("blood_pressureH").value = "";
        document.getElementById("blood_pressureL").value = "";
        document.getElementById("pluse").value = "";
        document.getElementById("height").value = "";
        document.getElementById("weight").value = "";
        document.getElementById("in_out").value = "";
    }
    function hide() {
        $(".hint")[0].innerHTML = "";
    }
    function show() {
        $(".hint")[0].style.display = "block";
        $(".hint")[0].innerHTML = "";
    }
    window.onload = function () {
        $("#temperature")[0].onfocus = function () {
            show();
            $(".hint")[0].append("单位为摄氏度(℃)")
        }
        $("#temperature")[0].onblur = function () {
            hide()
        }
        $("#blood_pressureH")[0].onfocus = function () {
            show();
            $(".hint")[0].append("单位为毫米汞柱(mmHg)")
        }
        $("#blood_pressureH")[0].onblur = function () {
            hide();
        }
        $("#blood_pressureL")[0].onfocus = function () {
            show();
            $(".hint")[0].append("单位为毫米汞柱(mmHg)")
        }
        $("#blood_pressureL")[0].onblur = function () {
            hide();
        }
        $("#height")[0].onfocus = function () {
            show();
            $(".hint")[0].append("单位为厘米(cm)")
        }
        $("#height")[0].onblur = function () {
            hide();
        }
        $("#weight")[0].onfocus = function () {
            show();
            $(".hint")[0].append("单位为千克(Kg)")
        }
        $("#weight")[0].onblur = function () {
            hide();
        }
    }
    function numcheck(str) {
        var patrn = /^\d+(\.\d+)?$/;
        var res = true;
        if (!patrn.exec(str)) {
            alert(str + "不是正确的数字！");
            res = false
        }
        return res;
    }
    function check() {
        $.each($(".mui-input-row").find("input"), function (i, item) {
            if (!numcheck(item.value)) {
                item.value = "";
            }

        })

        if ($("#temperature")[0].value > 50 || $("#temperature")[0].value < 30) {
            alert("请填写正常体温!");
            $("#temperature")[0].value = "";
            return;
        }
        console.log(JSON.stringify($('#formDemo').serializeJSON()));
    }


</script>
</body>
</html>