<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../../static/mui/css/mui.min.css">
    <link rel="stylesheet" href="../../static/mui/css/app.css">
    <script src="../../static/mui/js/mui.min.js"></script>
    <title></title>
</head>
<body>
<header class="mui-bar mui-bar-nav white">
    <a class="mui-icon mui-icon-left-nav" href="../setting.html"></a>
    <h1 class="mui-title">检验执行</h1>
</header>

<div class="mui-content">
    <div class="mui-card">
        <ul class="mui-table-view" >
            <li class="mui-table-view-cell mui-collapse">
                <a class="mui-navigate-right" href="#">检验表号</a>
                <div class="mui-collapse-content">
                    <form class="mui-input-group">
                        <div class="mui-input-row">
                            <label>病人ID：</label>
                            <label>aaaa</label>
                        </div>
                        <div class="mui-input-row">
                            <label>病人姓名：</label>
                            <label>aaaa</label>
                        </div>
                        <div class="mui-input-row">
                            <label>病房号：</label>
                            <label>aaaa</label>
                        </div>
                        <div class="mui-input-row">
                            <label>床位号：</label>
                            <label>aaaa</label>
                        </div>
                        <div class="mui-input-row">
                            <label>检验名称：</label>
                            <label>aaaa</label>
                        </div>
                        <div class="mui-input-row">
                            <label>价格：</label>
                            <label>aaaa</label>
                        </div>

                        <div class="mui-button-row">
                            <button class="mui-btn mui-btn-primary" type="button" onclick="return false;">确认执行</button>&nbsp;&nbsp;
                        </div>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>